<?xml version="1.0"?>
<launch>


    <node name="auction_server" type="auction_server" pkg="auction_server" output="screen">
        <param name="auctionRoundTime" type="Double" value="0.2" />
        <param name="serverUpdateRate" type="Double" value="200" />
    </node>

    <node name="auction_visualizer" type="visualizer" pkg="auction_server" output="screen">
    </node>
    
    <node name="rviz_task_adder" type="task_adder" pkg="auction_server" output="screen">
    </node>

</launch>



